.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
}

.status-message {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #5044fc, #52c3d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  animation: pulse 1.5s infinite;
}

.game-board {
  display: inline-flex;
  flex-direction: column;
  gap: 2px; 
  padding: 5px; 
}

.game-row {
  display: flex;
  gap: 2px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 24px;
  background-color: #f7f7f7;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.winning-cell {
  background-color: rgb(169, 255, 169);
  transition: background-color 0.5s ease;
}

.winning-cell:hover {
  background-color: lightgreen;
}

.cell.gameover:not(.winning-cell) {
  background-color: #f7f7f7; 
}

.cell.gameover:not(.winning-cell):hover {
  background-color:#f7f7f7;  
}

.reset-button {
  margin-top: 18px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #d2efe1;
  border: 2px solid #333;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s;
}

.Reset {
  margin-top: 18px;
  display: flex;
  align-items:center ;
  justify-content: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ceecf9;
  border: 2px solid #333;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s;
}


.reset-button .reset:hover {
  background-color: #d0d0d0;
}

table {
  border-collapse: collapse;
  width: 200px;
  text-align: center;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #000000;
}

th, td {
  padding: 10px;
  border: 1px solid #000000;
}

th {
  background-color: #80c0e1;
  color: white;
}

tbody tr:nth-child(2) td {
  font-weight: bold;
}

.score {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.H {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  background: linear-gradient(90deg, #147aee, #7d5cba); 
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3); 
  animation: glow 1.5s ease-in-out infinite; 
  letter-spacing: 2px; 

@keyframes glow {
  0%, 100% {
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3), 0 0 20px #ff416c, 0 0 30px #ff4b2b;
  }
  50% {
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3), 0 0 30px #ff4b2b, 0 0 40px #ff416c;
  }
}
}
